<div class="row">

  <div class="col-lg-12">
    
    <%= form_for @page, url: [:admin, @page], html: { class: 'form-horizontal' } do |f| %>

      <% if @page.errors.any? %>
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <h4><%= pluralize(@page.errors.count, "error") %> </h4>

          <ul>
          <% @page.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :path, class: "col-sm-1 control-label" %>
        <div class="col-sm-6">
          <%= f.text_field :path, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :title, class: "col-sm-1 control-label" %>
        <div class="col-sm-6">
          <%= f.text_field :title, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <%= f.text_area :content %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <%= f.submit nil, class: "btn btn-lg btn-primary"  %>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to 'К списку', admin_pages_path %>
        </div>
      </div>

    <% end %>

  </div>

</div>
