<h1 class="page-header">Просмотр страницы</h1>

<% if notice %>
  <div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= notice %>
  </div>
<% end %>

<p>
  <strong><%= Page.human_attribute_name(:path) %>:</strong>
  <%= @page.path %>
</p>

<p>
  <strong><%= Page.human_attribute_name(:title) %>:</strong>
  <%= @page.title %>
</p>

<p>
  <strong><%= Page.human_attribute_name(:content) %>:</strong>
  <%== @page.content %>
</p>

<%= link_to '<i class="fa fa-plus"></i> Создать новую'.html_safe, new_admin_page_path(@page), class: "btn btn-primary" %>
<%= link_to '<i class="fa fa-edit"></i> Редактировать'.html_safe, edit_admin_page_path(@page), class: "btn btn-warning" %>
&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to 'К списку', admin_pages_path %>
