<!DOCTYPE html>
<html>
<head>

  <title><%= @meta_title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="google-site-verification" content="XU7kvWvafsnNnJ-rkM-jnJOtkD00lQG8QZpLlzlR5po" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- CKEDITOR -->
  <script src="/ckeditor/ckeditor.js"></script>
  <script src="/ckeditor/adapters/jquery.js"></script>
  <!-- /CKEDITOR -->

  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <!-- /BOOTSTRAP -->

  <!-- FONT AWESOME -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <!-- /FONT AWESOME -->

</head>
<body>

<div class="container-fluid">
  <%= yield %>
</div>

</body>
</html>
